from numpy.lib.shape_base import split
from sklearn.datasets import load_svmlight_file
from sklearn.metrics import accuracy_score
import lightgbm as lgb
import pandas as pd
import numpy as np
import optuna
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split, KFold
import optuna.integration.lightgbm as oplgb
from sklearn.model_selection import GridSearchCV